<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebRequests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D09B32861E96D39E007FB029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09B329A1E96D39F007FB029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09B32A51E96D39F007FB029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
